---
import NavLink from './NavLink.astro';

const base = import.meta.env.BASE_URL
---
<div class="border-b-2 mb-2 flex flex-col sm:flex-row space-y-2 sm:space-y-0 sm:space-x-4">
    <NavLink link={`${base}/`} title="Home" />
    <NavLink link={`${base}/npcs`} title="NPC'er" />
    <NavLink link={`${base}/events`} title="Begivenheder" />
    <NavLink link={`${base}/sessions`} title="Sessions" />
    <NavLink link={`${base}/inventory`} title="Inventory" />
</div>
