---
import Navigation from "../components/Navigation.astro";
import "../styles/global.css";
const { pageTitle } = Astro.props;

const base = import.meta.env.BASE_URL
---

<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="180x180" href={`${base}/apple-touch-icon.png`} />
  <link rel="icon" type="image/png" sizes="32x32" href={`${base}/favicon-32x32.png`} />
  <link rel="icon" type="image/png" sizes="16x16" href={`${base}/favicon-16x16.png`} />
  <link rel="manifest" href={`${base}site.webmanifest`} />
  <link rel="icon" href={`${base}favicon.ico`} sizes="any" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{pageTitle} - DnD Dashboard</title>
</head>


  <body>
    <Navigation />
    <div>
      <slot />
    </div>
  </body>
</html>
